body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;  
  z-index: 0;  
}
h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 20px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Freight family', "Times New Roman";
    font-size: 24px;
    color: #333;
}

#toggle-map {
  position: absolute;
  top: 100px;   
  left: 20px;
  z-index: 1000;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #ADD8E6;
  color: rgb(1, 1, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  font-size: 14px;
}

.sf-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#credit-box {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 14px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-family: 'Freight family';
  line-height: 1.4;
  color: #333;
  width: 220px; 
}

